Source: lyx
Maintainer: Debian LyX Maintainers <pkg-lyx-devel@lists.alioth.debian.org>
Uploaders: Per Olofsson <pelle@debian.org>, Sven Hoexter <sven@timegate.de>
Section: editors
Priority: optional
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.debian.org/svn/pkg-lyx/lyx/trunk
Build-Depends: libaiksaurus-dev, python-dev, python-support (>= 0.5.3), debhelper (>= 5.0.37.2), quilt (>= 0.40-1), g++ (>= 4:4.0.1-8), libz-dev, libx11-dev, libaspell-dev, dpkg-dev (>= 1.13.19), autotools-dev, libqt4-dev

Package: lyx
Architecture: any
Depends: ${shlibs:Depends}, lyx-common (= ${source:Version}), texlive-latex-base | tetex-bin (>= 2.0.2-11), texlive-latex-recommended | tetex-extra, texlive-fonts-recommended | tetex-extra, preview-latex-style, libtiff-tools, groff, imagemagick, mime-support, psutils, xdg-utils
Recommends: kdeprint | lpr, konqueror | www-browser, kghostview | postscript-viewer, kpdf | pdf-viewer, rcs, tex4ht | hevea | tth | latex2html, gnuhtml2latex, wv, dvipost, latex-xft-fonts, dvipng
Suggests: chktex, nowebm, menu, sgmltools-lite, linuxdoc-tools
Replaces: lyx-common (<< 1.4.2-1)
Conflicts: lyx-qt, lyx-xforms
Description: High Level Word Processor
 LyX is an almost WYSIWYG-frontend for LaTeX that runs under the X Window
 System. It makes the power and typesetting quality of LaTeX available for
 people who are used to word processors. Since LyX supports LaTeX's concept
 of general mark-ups, it is even easier and faster to create professional
 quality documents with it than with usual word processors. It is also
 possible to use LaTeX-commands within LyX, so nothing of LaTeX's power is
 lost.
 .
 You can extend the functionality of LyX by installing these packages:
  * dvipost: display tracked changes in the dvi output
  * kdeprint or lpr: a printing tool
  * konqueror or www-browser: allows to view HTML documents
  * kghostview or postscript-viewer: allows to view PostScript documents
  * kpdf or pdf-viewer: allows to view PDF documents
  * sgmltools-lite: allows to export SGML DocBook documents
  * linuxdoc-tools: allows to export SGML LinuxDoc documents
  * rcs: allows to use versioning feature
  * tex4ht or hevea or tth or latex2html: allows to export HTML documents
  * gnuhtml2latex: allows to import HTML documents
  * wv: allows to import Word documents

Package: lyx-common
Architecture: all
Depends: ${python:Depends}, texlive-latex-base | tetex-bin (>= 2.0.2-11)
Recommends: lyx
Description: High Level Word Processor - common files
 LyX is an almost WYSIWYG-frontend for LaTeX that runs under the X Window
 System. It makes the power and typesetting quality of LaTeX available for
 people who are used to word processors. Since LyX supports LaTeX's concept
 of general mark-ups, it is even easier and faster to create professional
 quality documents with it than with usual word processors. It is also
 possible to use LaTeX-commands within LyX, so nothing of LaTeX's power is
 lost.
 .
 This package provides common files which are not architecture-dependent.
