Source: lyx
Maintainer: Debian LyX Maintainers <pkg-lyx-devel@lists.alioth.debian.org>
Uploaders: Per Olofsson <pelle@debian.org>, Sven Hoexter <sven@timegate.de>
Section: editors
Priority: optional
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.debian.org/svn/pkg-lyx/lyx/trunk
XS-Vcs-Browser: http://svn.debian.org/wsvn/pkg-lyx/lyx/trunk
Build-Depends: libaiksaurus-dev, python-support (>= 0.6),
 debhelper (>= 5.0.37.2), quilt (>= 0.40-1), g++ (>= 4:4.0.1-8),
 libz-dev, libx11-dev, libaspell-dev, dpkg-dev (>= 1.13.19),
 autotools-dev, libqt4-dev, libboost-dev (>= 1.34.1-1),
 libboost-filesystem-dev, libboost-signals-dev,
 libboost-iostreams-dev, libboost-regex-dev, libboost-test-dev

Package: lyx
Architecture: any
Depends: ${shlibs:Depends}, lyx-common (= ${source:Version}), xdg-utils, mime-support
Recommends: texlive-latex-recommended, texlive-fonts-recommended, preview-latex-style, dvipng, imagemagick, psutils, latex-xft-fonts, gv | postscript-viewer, xpdf-reader | pdf-viewer
Suggests: cupsys-client | lpr, iceweasel | www-browser, rcs, dvipost, tex4ht | hevea | tth | latex2html, groff, libtiff-tools, gnuhtml2latex, wv, chktex, noweb, menu, sgmltools-lite, linuxdoc-tools, texlive-latex-extra
Replaces: lyx-common (<< 1.5.0~beta1-3)
Conflicts: lyx-qt, lyx-xforms
Description: Document Processor
 LyX is an almost WYSIWYG-frontend for LaTeX. It makes the power and
 typesetting quality of LaTeX available for people who are used to
 word processors. Since LyX supports LaTeX's concept of general
 mark-ups, it is even easier and faster to create professional quality
 documents with it than with usual word processors. It is also
 possible to use LaTeX commands within LyX, so nothing of LaTeX's
 power is lost.
 .
 You can extend the functionality of LyX by installing these packages:
  * chktex: check for typographical errors
  * dvipost: display tracked changes in DVI format output
  * gnuhtml2latex: import HTML documents
  * groff: improved table formatting in plain text exports
  * linuxdoc-tools: export SGML LinuxDoc documents
  * noweb: import noweb files
  * rcs: integrated version control
  * sgmltools-lite: export SGML DocBook documents
  * tex4ht, hevea, tth, or latex2html: export HTML documents
  * texlive-latex-extra: more styles and packages
  * wv: import MS Word documents

Package: lyx-common
Architecture: all
Depends: ${python:Depends}, texlive-latex-base
Recommends: lyx
Conflicts: latex-beamer (<= 3.06.dfsg.1-0.1)
Description: Architecture-independent files for LyX
 This package contains LyX's common files which are not
 architecture-dependent. See the lyx package for a description of LyX
 itself.
