[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=LyX (GTK)
GenericName=Structured Word Processor
Comment=WYSIWYM (What You See Is What You Mean) word processor with LaTeX output
Exec=lyx-gtk %F
TryExec=lyx-gtk
Icon=lyx.xpm
StartupNotify=false
Terminal=false
Categories=GTK;Application;Office;WordProcessor;
MimeType=text/x-lyx;application/x-lyx;
