[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=LyX Document Processor
GenericName=Document Processor
Comment=WYSIWYM (What You See Is What You Mean) document processor with LaTeX output
Exec=lyx %F
TryExec=lyx
Icon=lyx
StartupNotify=false
Terminal=false
Categories=Application;Office;WordProcessor;
MimeType=text/x-lyx;application/x-lyx;
